<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
</head>
<body>
	<h1>Showchar</h1>
	<%= name %>
	<%= pwd %>
	<%= id %>
	<%= char %>
	<button id="restart">restart</button>
</body>
</html>