<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/hostwaiting.js"></script>
</head>
<body>
	<h1>Host waiting</h1>
	<ul id="playerlist">
		<% for(var i=0;i<players.length;i++){ %>
			<li> <%= players[i].name %> </li>
		<% } %>
	</ul>
	<p id="pwd" class="hidden"><%= pwd %></p>
	<p id="id" class="hidden"><%= id %></p>
	<p id="name" class="hidden"><%= name %></p>
	<p id="msg"></p>
	<button id="submit">submit</button>
</body>
</html>