<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="/name.js"></script>
</head>
<body>
	<h1>host submit</h1>
	<h4><%= pwdst %></h4>
	<form id="myform" method="POST" action="host">
		<input id="playerName" type="text" placeholder="enter your name" name="name">
		<input id="pwd" type="password" placeholder="enter password" name="pwd">
		<input type="submit" name="submit">
	</form>
</body>
</html>