<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
	<script type="text/javascript" src="/name.js"></script>
</head>
<body>
	<form id="myform" method="POST" action="wait" >
		<input id="playerName" type="text" placeholder="enter your name" name="name">
		<input type="submit" name="submit">
	</form>
	<p><%= msg %></p>	
</body>
</html>