*{
	margin: 0;
	padding: 0;
}

.hidden{
	display: none;
}

.login-header{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 150%;
}

.login{
	background-color: gray;
	border: 2px solid black;
	padding: 10px;
	margin: auto;
	display: block;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submit_btn {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.submit_btn:hover {
    background-color: #4CAF50;
    color: white;
}