<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="wait.js"></script>
</head>
<body>
	<h1>Waiting....</h1>
	<p id="name"><%= name %></p>
	<p id="id"><%= id %></p>
	<p id="char"><%= char %></p>
	<p id="round">Round : <%= round %></p>
	<div id="data"></div>
</body>
</html>