<!DOCTYPE html>
<html>
<head>
	<title>myWereWolf</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="./jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="wait.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Waiting....</h1>
	<p id="name" class="hidden"><%= name %></p>
	<p id="id" class=hidden><%= id %></p>
	<p id="char"><%= char %></p>
	<p id="round">Round : <%= round %></p>
	<div id="data"></div>
</body>
</html>